* {
    margin: 0;
    padding: 0;
}

.button-send{
    background-color:#4CAF50;
    border: none;
    color: white;
    margin: 10px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.table-wrapper{
    background-color: #f2f2f2;
}

.dropdown-button{
    background-color: #f2f2f2;
    border: none;
    margin: 4px;
    padding: 4px 8px;
}

.dropdown-button__change{
    background-color:#4CAF50;
    color: white;
    border-radius: 5px;
}